* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.banner-container {
  background: url("images/banner.jpg") no-repeat center center/cover;
  width: 100%;
  height: 720px;
  position: relative;
}

.banner-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
  z-index: 2;
}

.nav-menu img {
  width: 170px;
  z-index: 2;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #e50914;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 9px 17px;
  border-radius: 3px;
  align-self: center;
  z-index: 2;
}

/* 1st Section */
.banner-container .banner {
  padding: 20px 50px;
  padding-top: 145px;
  z-index: 2;
  position: relative;
}

.banner-container .banner h1,
h3,
.emailbox,
p {
  text-align: center;
}

.banner-container .banner h1 {
  font-size: 64px;
  color: #fff;
  width: 650px;
  margin: 0 auto;
  margin-bottom: 15px;
  z-index: 2;
}

.banner-container .banner h3 {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  width: 650px;
  margin: 0 auto;
  margin-bottom: 20px;
  z-index: 2;
}

.banner-container .banner .emailbox {
  width: 750px;
  padding-bottom: 10px;
  margin: 0 auto;
  z-index: 2;
}

.banner .emailbox input[type="text"] {
  height: 70px;
  width: 67%;
  border: 1px solid #8c8c8c;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  padding: 0 10px;
}

.banner-container .banner .emailbox button {
  height: 70px;
  width: 33%;
  padding: 8px 0 8px 0;
  border-left: 1px solid #333;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 3px;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: #e50914;
  color: #fff;
  cursor: pointer;
}

.banner-container .banner .emailbox button:hover {
  background-color: #f40612;
}

.banner-container .banner p {
  font-size: 19.2px;
  color: #fff;
}

/* Divider */
.divider {
  background-color: #222222;
  height: 8px;
}

/* Container-1 */
.container-1 {
  margin: 80px 120px;
}

.feature-1 {
  display: flex;
  flex-direction: row;
  height: 320px;
  justify-content: center;
}

.feature-1 div {
  padding-top: 70px;
}

.feature-1 h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.feature-1 h2 {
  font-size: 26px;
  font-weight: 500;
  width: 510px;
}

.tv-show {
  width: 450px;
}

.tv-show .tv-frame {
  position: relative;
  width: 530px;
  bottom: 120px;
}

.tv-show .video-1 {
  position: relative;
  width: 382px;
  bottom: 436px;
  left: 70px;
}

/* Mobile Section */
.feature-2 {
  display: flex;
  flex-direction: row;
  height: 320px;
  justify-content: center;
}

.mobile-show {
  padding-top: 70px;
}

.mobile-show .stranger-girl {
  position: relative;
  width: 504px;
  bottom: 120px;
}

.stranger-card {
  position: relative;
  padding: 8px 12px;
  border: 2px solid #404040;
  border-radius: 15px;
  background-color: #000;
  bottom: 255px;
  width: 350px;
  left: 80px;
}

.stranger-card .stranger-card-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stranger-card .stranger-card-flex div img {
  width: 60px;
}

.stranger-card .stranger-card-flex div p:first-child {
  font-size: 16px;
  font-weight: 600;
}

.stranger-card .stranger-card-flex div p:last-child {
  font-size: 14.4px;
  font-weight: 600;
  color: #0071eb;
  text-align: left;
}

.stranger-card-texts {
  padding-top: 50px;
  padding-left: 40px;
  width: 580px;
}

.stranger-card-texts h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.stranger-card-texts h2 {
  font-size: 26px;
  font-weight: 500;
}

/* 2nd Section */
.tv-show {
  width: 450px;
}

.tv-show .tv-frame-2 {
  position: relative;
  width: 555px;
  bottom: 120px;
}

.tv-show .video-2 {
  position: relative;
  width: 335px;
  bottom: 495px;
  left: 106px;
  z-index: -1;
}

/* FAQ Section */
.container-faq {
  margin: 80px 120px;
}

.faq {
  display: flex;
  flex-direction: column;
}

.faq h1 {
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 40px;
}

.faq a {
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  background-color: #303030;
  padding: 21px 25px 21px 31px;
  width: 830px;
  margin: 0 auto;
  margin-top: 10px;
}

.faq a img {
  float: right;
}

.faq .answer-1,
.answer-2,
.answer-3,
.answer-4,
.answer-5 {
  display: none;
  width: 830px;
  margin: 0 auto;
  margin-top: 1px;
  padding: 40px 50px 40px 35px;
  background-color: #303030;
}

.faq .answer-1 p,
.answer-2 p,
.answer-3 p,
.answer-4 p,
.answer-5 p {
  text-align: left;
  font-size: 26px;
}

.faq .emailbox {
  width: 750px;
  padding-top: 60px;
  padding-bottom: 10px;
  margin: 0 auto;
  z-index: 2;
}

.faq .emailbox input[type="text"] {
  height: 70px;
  width: 67%;
  border: 1px solid #8c8c8c;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  padding: 0 10px;
}

.faq .emailbox button {
  height: 70px;
  width: 33%;
  padding: 8px 0 8px 0;
  border-left: 1px solid #333;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 3px;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: #e50914;
  color: #fff;
  cursor: pointer;
}

.faq .emailbox button:hover {
  background-color: #f40612;
}

.faq .ready-to-watch {
  font-size: 19.2px;
  color: #fff;
}

/* Footer Section */
.footer-container {
  margin: 0 auto;
  width: 900px;
  height: 353px;
  background: #000000;
  color: #a6a6a6;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-container .footer-inner-container {
  padding: 40px 0 13px 0;
}

.footer-container .footer-inner-container .footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-container a {
  text-decoration: none;
  color: #757575;
  line-height: 70px;
}

.footer-container a:hover {
  text-decoration: underline;
}

.footer-container .footer-inner-container .footer div a {
  display: block;
  text-decoration: none;
  font-size: 13px;
  color: #757575;
  line-height: 33px;
}

.footer-container .footer-inner-container .footer div a:hover {
  text-decoration: underline;
}

.footer-container .footer-inner-container p {
  text-transform: capitalize;
  text-align: left;
  font-size: 14px;
  padding-top: 30px;
  color: #757575;
}

@media (max-width: 1200px) {
  .nav-menu img {
    width: 140px;
  }

  .banner-container {
    height: 673px;
  }

  .banner-container .banner h1 {
    font-size: 50px;
  }

  .banner-container .banner .emailbox {
    width: 700px;
  }

  .banner .emailbox input[type="text"] {
    height: 65px;
  }

  .banner-container .banner .emailbox button {
    height: 65px;
  }

  .mobile-show {
    width: 350px;
  }

  .mobile-show .stranger-girl {
    width: 465px;
    bottom: 120px;
    right: 150px;
  }

  .stranger-card {
    padding: 8px 12px;
    bottom: 250px;
    width: 310px;
    left: -70px;
  }

  .stranger-card-texts {
    padding-top: 35px;
    padding-left: 15px;
    width: 600px;
  }

  .stranger-card-texts h1 {
    padding-bottom: 20px;
  }
  .stranger-card-texts h2 {
    width: 500px;
  }

  .faq .emailbox {
    width: 700px;
  }

  .faq .emailbox input[type="text"] {
    height: 65px;
  }

  .faq .emailbox button {
    height: 65px;
  }
}

@media (max-width: 1082px) {
  .feature-1 {
    height: 290px;
  }

  .feature-2 {
    height: 270px;
  }

  .feature-1 div {
    padding-top: 50px;
    padding-left: 20px;
  }

  .feature-1 h2 {
    width: 490px;
  }

  .faq a {
    font-size: 26px;
    padding: 21px 25px 21px 31px;
    width: 720px;
  }

  .faq .emailbox {
    width: 680px;
  }

  .tv-show .tv-frame {
    width: 470px;
    bottom: 120px;
  }

  .tv-show .video-1 {
    width: 340px;
    bottom: 400px;
    left: 62px;
    z-index: -1;
  }

  .mobile-show {
    width: 350px;
  }

  .mobile-show .stranger-girl {
    width: 465px;
    bottom: 120px;
    right: 150px;
  }

  .stranger-card {
    padding: 8px 12px;
    bottom: 250px;
    width: 310px;
    left: -70px;
  }

  .stranger-card-texts {
    padding-top: 35px;
    padding-left: 15px;
    width: 600px;
  }

  .stranger-card-texts h1 {
    padding-bottom: 20px;
  }
  .stranger-card-texts h2 {
    width: 500px;
  }

  .tv-show .tv-frame-2 {
    width: 500px;
    bottom: 90px;
    left: -28px;
  }

  .tv-show .video-2 {
    width: 300px;
    bottom: 425px;
    left: 70px;
  }

  .footer-container .footer-inner-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1000px) {
  .feature-1 {
    height: 235px;
  }

  .feature-2 {
    height: 270px;
  }

  .feature-1 div {
    padding-top: 1px;
    padding-left: 20px;
  }

  .feature-1 h2 {
    width: 400px;
  }

  .tv-show .tv-frame {
    width: 420px;
    bottom: 70px;
    left: 40px;
  }

  .tv-show .video-1 {
    width: 300px;
    bottom: 320px;
    left: 98px;
  }

  .mobile-show {
    width: 350px;
  }

  .mobile-show .stranger-girl {
    width: 400px;
    bottom: 120px;
    right: 75px;
  }

  .stranger-card {
    padding: 8px 12px;
    bottom: 250px;
    width: 310px;
    left: -30px;
  }

  .stranger-card-texts {
    position: relative;
    padding-top: 35px;
    padding-left: 15px;
    width: 600px;
    bottom: 50px;
  }

  .stranger-card-texts h1 {
    padding-bottom: 5px;
    width: 400px;
  }
  .stranger-card-texts h2 {
    width: 500px;
    width: 380px;
  }

  .tv-show .tv-frame-2 {
    width: 500px;
    bottom: 50px;
    left: -28px;
  }

  .tv-show .video-2 {
    width: 300px;
    bottom: 390px;
    left: 70px;
  }

  .faq a {
    width: 670px;
  }
}

@media (max-width: 950px) {
  .nav-menu img {
    width: 100px;
    height: 33px;
  }

  .nav-menu {
    padding-top: 25px;
  }

  .nav-menu a {
    padding: 7px 17px;
  }

  .banner-container .banner {
    padding: 130px;
    display: flex;
    flex-direction: column;
  }

  .banner-container .banner .emailbox {
    order: 4;
  }

  .banner-container .banner p {
    order: 3;
    font-size: 23px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .banner-container {
    height: 720px;
  }

  .banner-container .banner .emailbox {
    width: 700px;
    display: flex;
    flex-direction: column;
  }

  .banner .emailbox input[type="text"] {
    height: 60px;
    width: 530px;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .banner-container .banner .emailbox button {
    height: 50px;
    width: 160px;
    padding: 1px 2px;
    font-size: 16px;
    margin: 0 auto;
  }

  .container-1 .feature-1 {
    display: flex;
    flex-direction: column;
    height: 530px;
  }

  .container-1 {
    margin: 50px 10px;
  }

  .feature-1 div {
    height: 300px;
  }

  .feature-1 h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
  }

  .feature-1 h2 {
    font-size: 20px;
    width: 100%;
    display: block;
    text-align: center;
  }

  .tv-show .tv-frame {
    position: relative;
    width: 600px;
    bottom: 180px;
    left: 160px;
    z-index: -1;
  }

  .tv-show .video-1 {
    position: relative;
    width: 433px;
    bottom: 540px;
    left: 240px;
    z-index: 2;
  }

  /* Mobile Section */
  .feature-2 {
    display: flex;
    flex-direction: column;
    height: 530px;
  }

  .mobile-show {
    order: 2;
    z-index: -1;
  }

  .mobile-show .stranger-girl {
    position: relative;
    width: 610px;
    bottom: 100px;
    left: 160px;
  }

  .stranger-card {
    position: relative;
    padding: 8px 12px;
    border: 2px solid #404040;
    border-radius: 15px;
    background-color: #000;
    bottom: 255px;
    width: 410px;
    left: 250px;
  }

  .stranger-card .stranger-card-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .stranger-card .stranger-card-flex div img {
    width: 45px;
  }

  .stranger-card .stranger-card-flex div p:first-child {
    font-size: 16px;
    font-weight: 600;
  }

  .stranger-card .stranger-card-flex div p:last-child {
    font-size: 14.4px;
    font-weight: 600;
    color: #0071eb;
    text-align: left;
  }

  .stranger-card-texts {
    height: 300px;
    width: 100%;
    order: 1;
  }

  .stranger-card-texts h1 {
    font-size: 40px;
    margin-top: 230px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }

  .stranger-card-texts h2 {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-align: center;
  }

  /* 2nd Section */
  .tv-show {
    width: 450px;
  }

  .tv-show .tv-frame-2 {
    position: relative;
    width: 600px;
    bottom: 130px;
    left: 160px;
  }

  .tv-show .video-2 {
    position: relative;
    width: 370px;
    bottom: 540px;
    left: 270px;
    z-index: -1;
  }

  .container-faq {
    margin: 80px 10px;
  }

  .faq h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .faq a {
    font-size: 20px;
    padding: 10px 20px;
    width: 750px;
  }

  .faq {
    display: flex;
    flex-direction: column;
  }

  .faq .emailbox {
    order: 12;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .faq .ready-to-watch {
    order: 11;
    font-size: 23px;
    width: 500px;
    margin: 0 auto;
    margin-top: 35px;
  }

  .faq .emailbox input[type="text"] {
    height: 60px;
    width: 530px;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .faq .emailbox button {
    height: 50px;
    width: 160px;
    padding: 1px 2px;
    font-size: 16px;
    margin: 0 auto;
  }

  .footer-container .footer-inner-container {
    padding-right: 90px;
    padding-left: 90px;
  }
}

@media (max-width: 905px) {
  .tv-show .tv-frame {
    bottom: 180px;
    left: 140px;
  }

  .tv-show .video-1 {
    bottom: 540px;
    left: 220px;
    z-index: -1;
  }

  .mobile-show .stranger-girl {
    bottom: 70px;
    left: 150px;
    width: 570px;
  }

  .stranger-card {
    bottom: 205px;
    width: 410px;
    left: 225px;
  }

  .tv-show .tv-frame-2 {
    width: 600px;
    bottom: 110px;
    left: 120px;
  }

  .tv-show .video-2 {
    bottom: 520px;
    left: 230px;
  }
}

@media (max-width: 850px) {
  .banner-container .banner {
    padding: 130px 100px;
  }

  .tv-show .tv-frame {
    bottom: 180px;
    left: 120px;
  }

  .tv-show .video-1 {
    bottom: 540px;
    left: 200px;
    z-index: -1;
  }

  .mobile-show .stranger-girl {
    bottom: 70px;
    left: 120px;
    width: 570px;
  }

  .stranger-card {
    bottom: 205px;
    width: 410px;
    left: 200px;
  }

  .tv-show .tv-frame-2 {
    width: 600px;
    bottom: 110px;
    left: 100px;
  }

  .tv-show .video-2 {
    bottom: 520px;
    left: 210px;
  }

  .faq a {
    width: 650px;
  }
}

@media (max-width: 768px) {
  .banner-container .banner {
    padding: 130px 10px;
  }

  .container-1 {
    margin: 70px 40px;
  }

  .tv-show .tv-frame {
    bottom: 180px;
    left: 50px;
  }

  .tv-show .video-1 {
    bottom: 540px;
    left: 130px;
  }

  .mobile-show .stranger-girl {
    bottom: 70px;
    left: 60px;
    width: 570px;
  }

  .stranger-card {
    bottom: 200px;
    width: 410px;
    left: 140px;
  }

  .stranger-card-texts h1 {
    margin-top: 200px;
  }

  .tv-show .tv-frame-2 {
    width: 600px;
    bottom: 110px;
    left: 45px;
  }

  .tv-show .video-2 {
    bottom: 520px;
    left: 160px;
  }

  .footer-container .footer-inner-container {
    padding-left: 70px;
    padding-right: 220px;
  }
}

@media (max-width: 718px) {
  .nav-menu {
    padding: 25px 25px;
  }

  .nav-menu img {
    width: 115px;
    height: auto;
  }

  .nav-menu a {
    padding: 8px 20px;
    font-size: 16px;
  }

  .banner-container {
    height: auto;
    width: auto;
  }

  .banner-container .banner {
    padding: 135px 10px;
  }

  .banner-container .banner h1 {
    font-size: 50px;
    width: 100%;
  }

  .banner-container .banner h3 {
    font-size: 26px;
    width: 100%;
  }

  .banner-container .banner .emailbox {
    width: 100%;
    padding-bottom: 10px;
    margin: 0 auto;
    z-index: 2;
  }

  .banner .emailbox input[type="text"] {
    height: 48px;
    width: 75%;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .banner-container .banner .emailbox button {
    height: 45px;
    width: 23%;
    margin: 0 auto;
    display: block;
  }

  .banner-container .banner p {
    font-size: 18px;
    width: 90%;
    padding-right: 35px;
    padding-left: 35px;
  }

  .container-1 {
    margin: 40px 10px;
    height: 580px;
  }

  .feature-1 h1 {
    font-size: 40px;
  }

  .feature-1 h2 {
    font-size: 20px;
  }

  .tv-show .tv-frame {
    width: 600px;
    bottom: 140px;
    left: 10px;
    z-index: 2;
  }

  .tv-show .video-1 {
    bottom: 500px;
    width: 435px;
    left: 90px;
  }

  .stranger-card-texts h1 {
    font-size: 40px;
    margin-top: 175px;
  }

  .stranger-card-texts h2 {
    font-size: 20px;
  }

  .mobile-show .stranger-girl {
    width: 590px;
    bottom: 60px;
    left: 30px;
  }

  .stranger-card {
    width: 370px;
    left: 140px;
    bottom: 180px;
  }

  .stranger-card .stranger-card-flex div img {
    width: 45px;
  }

  .stranger-card .stranger-card-flex div p:first-child {
    font-size: 16px;
  }

  .stranger-card .stranger-card-flex div p:last-child {
    font-size: 13px;
  }

  .tv-show .tv-frame-2 {
    width: 620px;
    left: 5px;
  }

  .tv-show .video-2 {
    width: 375px;
    left: 124px;
    bottom: 530px;
    z-index: -1;
  }

  .container-faq {
    margin: 40px 0px;
  }

  .faq h1 {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .faq a {
    width: 80%;
    font-size: 20px;
  }

  .faq .ready-to-watch {
    font-size: 18px;
    width: 75%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .faq .emailbox {
    width: 100%;
    margin: 0 auto;
  }

  .faq .emailbox input[type="text"] {
    height: 50px;
    width: 75%;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 15px;
  }

  .faq .emailbox button {
    height: 45px;
    width: 23%;
    margin: 0 auto;
    display: block;
  }

  .footer-container .footer-inner-container {
    padding-left: 40px;
    padding-right: 200px;
  }

  .footer-container .footer-inner-container .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .nav-menu {
    padding: 25px 25px;
  }

  .nav-menu img {
    width: 115px;
    height: auto;
  }

  .nav-menu a {
    padding: 8px 20px;
    font-size: 16px;
  }

  .banner-container {
    height: auto;
    width: auto;
  }

  .banner-container .banner {
    padding: 135px 10px;
  }

  .banner-container .banner h1 {
    font-size: 50px;
    width: 100%;
  }

  .banner-container .banner h3 {
    font-size: 26px;
    width: 100%;
  }

  .banner-container .banner .emailbox {
    width: 100%;
    padding-bottom: 10px;
    margin: 0 auto;
    z-index: 2;
  }

  .banner .emailbox input[type="text"] {
    height: 48px;
    width: 85%;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .banner-container .banner .emailbox button {
    height: 45px;
    width: 25%;
    margin: 0 auto;
    display: block;
  }

  .banner-container .banner p {
    font-size: 18px;
    width: 90%;
    padding-right: 35px;
    padding-left: 35px;
  }

  .container-1 {
    margin: 40px 30px;
    height: 500px;
  }

  .feature-1 h1 {
    font-size: 40px;
  }

  .feature-1 h2 {
    font-size: 20px;
  }

  .tv-show .tv-frame {
    width: 430px;
    bottom: 100px;
    left: 10px;
    z-index: 2;
  }

  .tv-show .video-1 {
    bottom: 360px;
    width: 308px;
    left: 70px;
  }

  .stranger-card-texts h1 {
    font-size: 40px;
    margin-top: 170px;
  }

  .stranger-card-texts h2 {
    font-size: 20px;
  }

  .mobile-show .stranger-girl {
    width: 440px;
    bottom: 70px;
    left: 5px;
  }

  .stranger-card {
    width: 300px;
    left: 75px;
    bottom: 180px;
  }

  .stranger-card .stranger-card-flex div img {
    width: 45px;
  }

  .stranger-card .stranger-card-flex div p:first-child {
    font-size: 16px;
  }

  .stranger-card .stranger-card-flex div p:last-child {
    font-size: 13px;
  }

  .tv-show .tv-frame-2 {
    width: 440px;
    bottom: 80px;
    left: 5px;
  }

  .tv-show .video-2 {
    width: 265px;
    left: 90px;
    bottom: 380px;
    z-index: -1;
  }

  .container-faq {
    margin: 40px 0px;
  }

  .faq h1 {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .faq a {
    width: 80%;
    font-size: 20px;
  }

  .faq .ready-to-watch {
    font-size: 18px;
    width: 75%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .faq .emailbox {
    width: 100%;
    margin: 0 auto;
  }

  .faq .emailbox input[type="text"] {
    height: 50px;
    width: 75%;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 15px;
  }

  .faq .emailbox button {
    height: 45px;
    width: 23%;
    margin: 0 auto;
    display: block;
  }

  .footer-container .footer-inner-container {
    padding-left: 70px;
    padding-right: 410px;
  }

  .footer-container .footer-inner-container .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 530px) {
  .nav-menu {
    padding: 25px 25px;
  }

  .nav-menu img {
    width: 80px;
    height: auto;
  }

  .nav-menu a {
    padding: 5px 8px;
    font-size: 14px;
  }

  .banner-container {
    height: auto;
    width: auto;
  }

  .banner-container .banner {
    padding: 60px 10px;
  }

  .banner-container .banner h1 {
    font-size: 64px;
    color: #fff;
    width: 650px;
    margin: 0 auto;
    margin-bottom: 15px;
    z-index: 2;
  }

  .banner-container .banner h1 {
    font-size: 28px;
    width: 100%;
  }

  .banner-container .banner h3 {
    font-size: 18px;
    width: 100%;
  }

  .banner-container .banner .emailbox {
    width: 100%;
    padding-bottom: 10px;
    margin: 0 auto;
    z-index: 2;
  }

  .banner .emailbox input[type="text"] {
    height: 50px;
    width: 95%;
    display: block;
    font-size: 16px;
    margin: 0 20px;
    margin-bottom: 15px;
  }

  .banner-container .banner .emailbox button {
    height: 45px;
    width: 30%;
    margin: 0 auto;
    display: block;
  }

  .banner-container .banner p {
    font-size: 18px;
    width: 100%;
    padding-right: 35px;
    padding-left: 35px;
  }

  .container-1 {
    margin: 40px 10px;
    height: 435px;
  }

  .feature-1 h1 {
    font-size: 26px;
  }

  .feature-1 h2 {
    font-size: 18px;
  }

  .tv-show .tv-frame {
    width: 460px;
    bottom: 155px;
    left: -1px;
    z-index: -1;
  }

  .tv-show .video-1 {
    bottom: 430px;
    width: 330px;
    left: 61px;
  }

  .stranger-card-texts h1 {
    font-size: 26px;
    margin-top: 90px;
  }

  .stranger-card-texts h2 {
    font-size: 18px;
  }

  .mobile-show .stranger-girl {
    width: 460px;
    bottom: 120px;
    left: 20px;
  }

  .stranger-card {
    width: 300px;
    left: 90px;
    bottom: 210px;
  }

  .stranger-card .stranger-card-flex div img {
    width: 33px;
  }

  .stranger-card .stranger-card-flex div p:first-child {
    font-size: 14px;
  }

  .stranger-card .stranger-card-flex div p:last-child {
    font-size: 12.4px;
  }

  .tv-show .tv-frame-2 {
    width: 450px;
    left: 5px;
  }

  .tv-show .video-2 {
    width: 275px;
    left: 90px;
    bottom: 390px;
  }

  .container-faq {
    margin: 40px 0px;
  }

  .faq h1 {
    font-size: 26px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .faq a {
    width: 100%;
    font-size: 19px;
  }

  .faq .ready-to-watch {
    font-size: 18px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .faq .emailbox {
    width: 100%;
    margin: 0 auto;
    padding-right: 5%;
  }

  .faq .emailbox input[type="text"] {
    height: 50px;
    width: 100%;
    display: block;
    font-size: 16px;
    margin: 0 20px;
    margin-bottom: 0px;
    margin-bottom: 15px;
  }

  .faq .emailbox button {
    height: 45px;
    width: 30%;
    margin: 0 auto;
    display: block;
  }

  .footer-container .footer-inner-container {
    padding-left: 40px;
    padding-right: 420px;
  }

  .footer-container .footer-inner-container .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 405px) {
  .nav-menu {
    padding: 25px 20px;
  }

  .nav-menu img {
    width: 80px;
    height: auto;
  }

  .nav-menu a {
    padding: 5px 8px;
    font-size: 14px;
  }

  .banner-container {
    height: auto;
    width: auto;
  }

  .banner-container .banner {
    padding: 60px 10px;
  }

  .banner-container .banner h1 {
    font-size: 64px;
    color: #fff;
    width: 650px;
    margin: 0 auto;
    margin-bottom: 15px;
    z-index: 2;
  }

  .banner-container .banner h1 {
    font-size: 28px;
    width: 100%;
  }

  .banner-container .banner h3 {
    font-size: 18px;
    width: 100%;
  }

  .banner-container .banner .emailbox {
    width: 750px;
    padding-bottom: 10px;
    margin: 0 auto;
    z-index: 2;
  }

  .banner .emailbox input[type="text"] {
    height: 50px;
    width: 45%;
    display: block;
    font-size: 16px;
    margin: 0 20px;
    margin-bottom: 15px;
  }

  .banner-container .banner .emailbox button {
    height: 45px;
    width: 20%;
    margin: 0 120px;
    display: block;
  }

  .banner-container .banner p {
    font-size: 18px;
    width: 100%;
    padding-right: 35px;
    padding-left: 35px;
  }

  .container-1 {
    margin: 40px 10px;
    height: 380px;
  }

  .feature-1 h1 {
    font-size: 26px;
  }

  .feature-1 h2 {
    font-size: 18px;
  }

  .tv-show .tv-frame {
    width: 345px;
    bottom: 110px;
    left: -1px;
    z-index: 2;
  }

  .tv-show .video-1 {
    bottom: 319px;
    width: 250px;
    left: 45px;
  }

  .stranger-card-texts h1 {
    font-size: 26px;
    margin-top: 90px;
  }

  .stranger-card-texts h2 {
    font-size: 18px;
  }

  .mobile-show .stranger-girl {
    width: 345px;
    bottom: 130px;
    left: 20px;
  }

  .stranger-card {
    width: 270px;
    left: 55px;
    bottom: 218px;
  }

  .stranger-card .stranger-card-flex div img {
    width: 33px;
  }

  .stranger-card .stranger-card-flex div p:first-child {
    font-size: 14px;
  }

  .stranger-card .stranger-card-flex div p:last-child {
    font-size: 12.4px;
  }

  .tv-show .tv-frame-2 {
    width: 320px;
    left: 20px;
  }

  .tv-show .video-2 {
    width: 200px;
    left: 80px;
    bottom: 305px;
  }

  .container-faq {
    margin: 40px 0px;
  }

  .faq h1 {
    font-size: 26px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .faq a {
    width: 100%;
    font-size: 19px;
  }

  .faq .ready-to-watch {
    font-size: 18px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .faq .emailbox {
    padding-right: 10%;
  }

  .faq .emailbox input[type="text"] {
    height: 50px;
    width: 100%;
    display: block;
    font-size: 16px;
    margin: 0 20px;
    margin-bottom: 0px;
    margin-bottom: 15px;
  }

  .faq .emailbox button {
    height: 45px;
    width: 40%;
    margin: 0 120px;
    display: block;
  }

  .footer-container .footer-inner-container {
    padding-left: 20px;
    padding-right: 520px;
  }

  .footer-container .footer-inner-container .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
